.title{
    z-index: 1000;
    position: fixed;
    top: -21px;
    width: 100%;
    background:rgb(88, 196, 223);
}

.movie-img{
    width: 150px;
    height: 225px;
    border-radius: 15px;
}
.movie-card{
    margin: 40px 0;
    column-gap: 20px;
    
    display: flex;
    align-items: center;
}